<ion-view view-title="AroundMe">
  <ion-content>
    <div align="center" style="padding-top: 5%;">
      <img src="/img/google_map.jpg" style="width: 80%; height: 80%" class="img-circle">
    </div>
    <div align="center" style="padding-top: 2%; padding-left: 5%; padding-right: 5%;">
      <button class="button button-block button-energized">
        Location 1
      </button>
      <button class="button button-block button-energized">
        Location 2
      </button>
      <button class="button button-block button-energized">
        Location 3
      </button>
      <button class="button button-block button-energized">
        Location 4
      </button>
      <button class="button button-block button-energized">
        Location 5
      </button>
      <button class="button button-block button-energized">
        Location 6
      </button>
  	</div>
  </ion-content>
</ion-view>
