<ion-view view-title="Home">
  <ion-content>
	<center>
    	<div align="center" style="padding-top: 4%; padding-left: 5%;
    	padding-right: 5%;">
    		<h1>Select Province</h1>
      		<button class="button button-block button-dark" ng-click="input()">
        		Input
      		</button>
      		<button class="button button-block button-dark">
        		Around me
      		</button>
    	</div>
      <div align="center" style="padding-top: 3%; padding-left: 3%;
      padding-right: 3%;">
          <button class="button button-block button-energized">
            Recommend Place 1
          </button>
          <button class="button button-block button-energized">
            Recommend Place 2
          </button>
          <button class="button button-block button-energized">
            Recommend Place 3
          </button>
          <button class="button button-block button-energized">
            Recommend Place 4
          </button>
          <button class="button button-block button-energized">
            Recommend Place 5
          </button>
          <button class="button button-block button-energized">
            Recommend Place 6
          </button>
      </div>
    </center>
  </ion-content>
</ion-view>
