<ion-view view-title="Home">
  <ion-content>
    <ion-slide-box class="screenshot" style="padding-top: 10%;">
        <ion-slide>
          <img ng-src="/img/signal.png">
        </ion-slide>
        <ion-slide>
          <img ng-src="/img/signal.png">
        </ion-slide>
    </ion-slide-box>
    <div align="center" style="padding-top: 4%; padding-left: 5%; padding-right: 5%;">
      <button id="button" class="button button-block button-stable" ui-sref="app.interest">
        Choose Your Interest
      </button>
    </div>
    <div align="center" style="padding-top: 4%; padding-left: 5%; padding-right: 5%;">
      <button id="button" class="button button-block" ui-sref="app.result" ng-click="viewAll()">
        View All
      </button>
    </div>
</ion-view>
