<ion-view view-title="{{result.name}}">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
          <img src="{{result.imgUrl}}">
        <h2>{{result.name}}</h2>
        <p>{{result.province}} Province</p>
      </div>

      <div class="item item-body">
        <ion-slide-box class="screenshot" style="padding-top: 10%;">
            <ion-slide>
              <img src="{{result.imgUrl}}">
            </ion-slide>
        </ion-slide-box>
        <p>
         </p>
      </div>
      <div class="item item-body">
        <h3>Products</h3>
        <p>
          {{result.product}}
        </p>
      </div>
      <div class="item item-body">
        <h3>Location</h3>
        <p>
          {{result.address}}
        </p>
      </div>
      <div class="item item-body">
        <h3>How to go</h3>
        <p>
        </p>
      </div>
      <div class="item item-body">
        <h3 href="#">Guide for Residential</h3>
      </div>
    </div>

  </ion-content>
</ion-view>
