<ion-view view-title="Rice Field">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <h2>Silverlake</h2>
        <p>Chonburi Province</p>
      </div>

      <div class="item item-body">
        <ion-slide-box class="screenshot" style="padding-top: 10%;">
            <ion-slide>
              <img ng-src="/img/signal.png">
            </ion-slide>
            <ion-slide>
              <img ng-src="/img/signal.png">
            </ion-slide>
        </ion-slide-box>
        <p>
          อาณาจักรทั้งผลิตและจำหน่ายองุ่นสด ผลิตภัณฑ์ แปรรูปจากองุ่น และล่าสุดเป็นแหล่งท่องเที่ยวใหม่ประจำเมืองพัทยา ซึ่งเจ้าของไร่องุ่นแห่งนี้เป็นของอดีต นางเอกชื่อดัง คุณสุพรรษา เนื่องภิรมย์ สุพรรษา เล่าแรงบันดาลใจเกิดขึ้นเมื่อประมาณ 5-6 ปีที่แล้ว
        </p>
      </div>
      <div class="item item-body">
        <h3>Location</h3>
        <p>
          ต.นาจอมเทียน อ.สัตหีบ จ.ชลบุรี 02 261 6565
        </p>
      </div>
      <div class="item item-body">
        <h3>How to go</h3>
        <p>
          จากถนนสุขุมวิทมุ่งหน้าไปอำเภอสัตหีบ ประมาณหลักกิโลเมตรที่ 161 ให้สังเกตุ ทางซ้ายมือ จะเห็นทางเข้า วัดเขาชีจรรย์ เลี้ยวเข้าไปประมาณ 6 กิโลเมตร จะเห็นไร่องุนซิลเวอร์เลคอยู่ทางขวามือ
        </p>
      </div>
      <div class="item item-body">
        <h3 href="#">Guide for Residential</h3>
      </div>
    </div>

  </ion-content>
</ion-view>
