<ion-view view-title="LoginPage">
  <ion-content>
    <div align='right' style="padding-top: 3%; padding-right: 5%;">
      <a href="#/app/home">
        <h4>skip</h4>
      </a>
    </div>
    <div align="center" style="padding-top: 40%;">
      <a href="#/app/search">
        <img src="/img/ionic.png">
    </div>
    <div align="center" style="padding-top: 30%; padding-left: 15%; padding-right: 15%;">
      <button class="button button-block button-balanced">
        Sign in
      </button>
    </div>
    <div align="center" style="padding-top: 5%; padding-left: 15%; padding-right: 15%;">
      <button class="button button-block button-balanced">
        Sign up
      </button>
    </div>
  </ion-content>
</ion-view>