<ion-view view-title="Login">
  <ion-content>
    <div align='right' style="padding-top: 3%; padding-right: 5%;">
      <a href="#/app/home">
        <h4>skip</h4>
      </a>
    </div>
    <div align="center" style="padding-top: 10%;">
      <img src="/img/signal.png">
    </div>
    <div align="center" style="padding-top: 10%; padding-left: 15%; padding-right: 15%;">
      <button class="button button-block button-assertive" ng-click="signin()">
        Sign in
      </button>
    </div>
    <div align="center" style="padding-top: 3%; padding-left: 15%; padding-right: 15%;">
      <button class="button button-block button-assertive" ng-click="signup()">
        Sign up
      </button>
    </div>
  </ion-content>
</ion-view>