/* Empty. Add your own CSS if you like */

#logo{
    width: 80%;
    height: auto;
}
.background, .background .pane{
  background-color: #1DA237;
}
.app-header {
  color: white;
}

.interest-btn {
  width: 100%;
  height: auto;
  cursor: hand;
  cursor: pointer;
}
.category-btn {
  width: 90%;
  height: auto;
  cursor: hand;
  cursor: pointer;
}
.content {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}
